<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
        <link rel="stylesheet" href="assets/css/styles.css">
        <link rel="shortcut icon" href="assets/img/favicon.ico">
        <title>Tarif & Résérvation</title>
    </head>
<body>
    <div class="container-fluid">
        <header>
          <div class="row">
            <div class="col-md-12">
                <div id="include-navbar"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 img-bg"></div>
          </div>
        </header>
        <main>
          <div class="row ">
            <div class="col-md-6 my-3">
              <div class="card">
                <div class="card-header titre-tarif">
                  <h4 class="card-title">Tarif</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <ul>
                      <li>Adulte : 10€</li>
                      <li>Enfant (moins de 10 ans) : 6€</li>
                      <li>Étudiant : 8€</li>
                      <li>Séniors (plus de 65 ans) : 7€</li>
                      <li>Tarif réduit (sur présentation d'un justificatif) : 8€</li>
                      <li>Séance matinale (avant 12h) : 7€</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 my-3">
              <div class="card">
                <div class="card-header titre-tarif">
                  <h4 class="card-title">Reservation</h4>
                </div>
                <div class="card-body">
                  <div class="row" id="form-tarif">
                    <form id="formulaire-tarif" action="#" method="POST" @submit.prevent="click">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" v-model="email" class="form-control" id="email" aria-describedby="email" placeholder="Entrer Email" required  @input="check">
                        <p v-if="ErrorEmail" class="text-danger">Veuillez remplir ce champ</p>
                      </div>
                      <div class="form-group">
                        <label for="emailVerif">Verification d'email</label>
                        <input type="email" v-model="emailVerif" class="form-control" id="emailVerif" aria-describedby="email" placeholder="répetez votre Email" required  @input="check">
                        <p v-if="ErrorEmailDouble" class="text-danger">Les emails ne correspondent pas.</p>
                      </div>
                      <div class="form-group">
                        <label for="choiceHoraire">Choix de l'horaire</label>
                        <select v-model="selectedHoraire" @change="calc"class="form-control" id="selectedHoraire">
                          <option disabled value="">selectionnez votre horaire</option>
                          <option v-for="horaire in horaires" :key="horaire">{{ horaire }}</option>
                        </select>
                        <span v-if="ErrorHoraire" class="text-danger">Veuillez choisir un horaire.</span>
                      </div>
                      <div class="form-group">
                        <label for="choiceFilm">Choix du film</label>
                        <select v-model="selectedFilm" @change="setFilmDate"class="form-control" id="selectedFilm">
                          <option disabled value="">selectionnez votre film</option>
                          <option v-for="film in filmsDAffiche" :key="film">{{ film }}</option>
                        </select>   
                        <span v-if="ErrorFilm" class="text-danger">Veuillez choisir un film.</span>
                      </div>
                      <p v-if="filmIsSelected">date prochaine du film : {{filmDate}}</p>
                      <div class="d-md-flex justify-content-md-between">
                        <div class="col-md-5 form-group">
                          <label for="name">Nom</label>
                          <input type="text" v-model="nameValue" class="form-control" 
                          id="nameValue" aria-describedby="name" placeholder="Entrer Nom" required>
                          <span v-if="ErrorNameValue" class="text-danger">Veuillez entrer votre prénom.</span>
                        </div>
                        <div class="col-md-6 form-group">
                          <label for="surname">Prenom</label>
                          <input type="text" v-model="surname" class="form-control" 
                          id="surname" aria-describedby="surname" placeholder="Entrer Prenom" required>
                        </div>
                      </div>
                      <div class="d-md-flex justify-content-md-between">
                        <div class="col-md-5 form-group">
                          <label for="nbrPlaceAdulte">Nombre place adulte</label>
                          <input type="number" v-model="nbrAdult" @input="calc" class="form-control" 
                          id="nbrAdult" aria-describedby="nbrPlaceAdulte">
                        </div>
                        <div class="col-md-6 form-group">
                          <label for="nbrPlaceReduit">Nombre place adulte en tarif réduit</label>
                          <input type="number" v-model="nbrAdultReduc" @input="calc" class="form-control" 
                          id="nbrAdultReduc" aria-describedby="nbrPlaceReduit">
                        </div>
                      </div>
                      <div class="col-md-5 form-group">
                        <label for="nbrPlaceEnfant">Nombre place enfant</label>
                        <input type="number" v-model="nbrChild" @input="calc" class="form-control" 
                        id="nbrChild" aria-describedby="nbrPlaceEnfant">
                      </div>
                      <div class="col-md-5 form-group">
                        <label for="nbrPlaceEtudiant">Nombre place étudiant</label>
                        <input type="number" v-model="nbrStudent" @input="calc" class="form-control" 
                        id="nbrStudent" aria-describedby="nbrPlaceEtudiant">
                      </div>
                      <div class="col-md-5 form-group">
                        <label for="nbrPlaceSenior">Nombre place sénior</label>
                        <input type="number" v-model="nbrSenior" @input="calc" 
                        class="form-control" id="nbrSenior" aria-describedby="nbrPlaceSenior">
                      </div>
                      <tarif-ticket :total-prix="totalPrix"></tarif-ticket>
                      <button type="submit" class="btn btn-primary my-2"  v-if="isAnyInputNonZero" >Validez</button>
                      <!-- <button type="button" class="btn btn-primary my-2" data-toggle="modal" data-target="#summaryModal" v-if="isAnyInputNonZero"  v-on:click="click">Validez</button> -->
                    </form>
                    <!-- Modal --> 
                    <!-- <div class="modal fade" id="summaryModal" tabindex="-1" 
                    role="dialog" aria-labelledby="summaryModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="summaryModalLabel">Panier de la réservation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p><strong>Nom :</strong> {{ name }}</p>
                            <p><strong>Prénom :</strong> {{ surname }}</p>
                            <p><strong>Email :</strong> {{ email }}</p>
                            <p><strong>Film :</strong> {{ selectedFilm }}</p>
                            <p><strong>Horaire :</strong> {{ selectedHoraire }}</p>
                            <p><strong>Date :</strong> {{ filmDate }}</p>
                            <p><strong>Nombre de places adulte :</strong> {{ nbrAdult }}</p>
                            <p><strong>Nombre de places adulte tarif réduit :</strong> {{ nbrAdultReduc }}</p>
                            <p><strong>Nombre de places enfant :</strong> {{ nbrChild }}</p>
                            <p><strong>Nombre de places étudiant :</strong> {{ nbrStudent }}</p>
                            <p><strong>Nombre de places sénior :</strong> {{ nbrSenior }}</p>
                            <p><strong>Total :</strong> {{ totalPrix }} €</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-primary">Validez</button>
                          </div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <div id="include-footer"></div>               
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- <script type="module" src="assets/js/main.js"></script> -->
    <script type="module" src="assets/js/include.js"></script>
    <script type="module" src="assets/js/formTarif.js"></script>
</body>
</html>